/* Color palette: https://colorhunt.co/palette/213162 */
/* Gradient generator: https://cssgradient.io/ */

html {
    height: 100%;
}

body {
    text-align: center;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
    background: rgb(0,0,0);
    background: linear-gradient(160deg, rgba(0,0,0,1) 0%, rgba(106,9,125,1) 69%, rgba(192,96,161,1) 100%);
    color: #ffffff;
}

textarea {
    width: 48em;
    height: 20em;
    background-color: #f1d4d4;
    font-size: 1.2em;
    padding: 0.5em;
    white-space: nowrap;
    overflow: auto;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.14);
}

a {
    color: #ffffff;
}